{
  "$schema": "https://opencode.ai/config.json",
  "model": "opencode-go/glm-5.2",
  "small_model": "opencode-go/deepseek-v4-flash",
  "provider": {
    "openrouter": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://openrouter.ai/api/v1"
      }
    }
  }
}
